<html>
  <body>
    <h2>Result</h2>
    <%= @result %>

    <table id='grid'>
      <tr>
        <td> </td>
        <td>A</td>
        <td>B</td>
        <td>C</td>
        <% if @game.grid['d1'] %>
          <td>D</td>
        <% end %>
      </tr>
      <tr>
        <td>1</td>
        <td id='a1'> <%= @game.grid['a1'] %> </td>
        <td id='b1'> <%= @game.grid['b1'] %> </td>
        <td id='c1'> <%= @game.grid['c1'] %> </td>
        <% if @game.grid['d1'] %>
          <%= "<td id='d1'>#{@game.grid['d1']} </td>" %>
        <% end %>
      </tr>
      <tr>
        <td>2</td>
        <td id='a2'> <%= @game.grid['a2'] %> </td>
        <td id='b2'> <%= @game.grid['b2'] %> </td>
        <td id='c2'> <%= @game.grid['c2'] %> </td>
        <% if @game.grid['d2'] %>
          <%= "<td id='d2'>#{@game.grid['d2']} </td>" %>
        <% end %>
      </tr>
      <tr>
        <td>3</td>
        <td id='a3'> <%= @game.grid['a3'] %> </td>
        <td id='b3'> <%= @game.grid['b3'] %> </td>
        <td id='c3'> <%= @game.grid['c3'] %> </td>
        <% if @game.grid['d3'] %>
          <%= "<td id='d3'>#{@game.grid['d3']} </td>" %>
        <% end %>
      </tr>
      <% if @game.grid['a4'] %>
        <td>4</td>
        <td id='a4'> <%= @game.grid['a4'] %> </td>
        <td id='b4'> <%= @game.grid['b4'] %> </td>
        <td id='c4'> <%= @game.grid['c4'] %> </td>
        <td id='d4'> <%= @game.grid['d4'] %> </td>
      <% end %>
    </table>

  </body>
</html>